.App {
  text-align: center;
}

.cv-form {
  background: wheat;
  text-align: left;
  width: 35%;
  margin: 2em auto;
  padding: 1em 2em;
  border: 1px dotted;
}

.cv-form button {
  margin-top: 1em;
  padding: .5em;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
}

.results {
  border: 1px dotted;
  width: 40%;
  margin: 0 auto;
}
